*{
	padding: 0px;
	margin: 0px;
} 

b{
	font-size: 30px;
	opacity: 0.8;
}
span{
	font-size: 18px;
	opacity: 0.6;
}
#d1,#d01,#d001,#d0001{
	 color: balck;
	background-color: #e4e4e4;  
	 font-size: 15px;
	 display:inline-block;
}
#id1{
	width: 300px;
	height: 80px;
  display:inline-block;

}
#id2{
	width: 300px;
	height: 300px;
	display:inline-block;
}
#id3{
	width: 300px;
	height: 300px;
	position: relative;
	left: 300px;
	top:-1067px;
	display:inline-block;
	
}

#id5{
	width: 300px;
	height: 300px;
	margin-left: 400px;
	margin-top: -1100px;
	
  
}
li{
	font-size: 12px;
	color: #aaaaaa;
}

#image{
	 background-image: url("../image/04.png"); 
	border-radius: 100px;
	width: 200px;
	height: 200px;
	display:inline-block;
	position: relative;
	left: 30px;
	top:-850px;
}
.c1{
	font-size: 12px;
	color: #1e1e1e;
}
ul{
	list-style-type:none ;
}
#id02{
	
	height: 1051px;
	width: 600px;
    box-shadow: 10px 10px 5px 5px #888888 ;
    margin: auto;
}
#tell{
	font-size: 15px;
}
#email{
	font-size: 15px;
}